{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.object.label }}<br>
        {{ form.object(class="form-control") }}<br>
        {% for error in form.object.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.registry_number.label }}<br>
        {{ form.registry_number(class="form-control") }}<br>
        {% for error in form.registry_number.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.category_of_significance.label }}<br>
        {{ form.category_of_significance(class="form-control") }}<br>
        {% for error in form.category_of_significance.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.type_of_object.label }}<br>
        {{ form.type_of_object(class="form-control") }}<br>
        {% for error in form.type_of_object.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.picture_src.label }}<br>
        {{ form.picture_src(class="form-control") }}<br>
        {% for error in form.picture_src.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_unesco() }} {{ form.is_unesco.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}